<div id="right_column_flip">
    <h2>Помош</h2>
    <ul class="no_bullets">
        <li><%= link_to_unless_current "Вовед", "/help/about" %></li>
        <li><%= link_to_unless_current "Испраќање барања", "/help/requesting" %></li>
		<li><%= link_to_unless_current "Иматели", "/help/officers" %></li>
        <li><%= link_to_unless_current "Вашата приватност", "/help/privacy" %></li>
        <li><%= link_to_unless_current "Напредно пребарување", "/advancedsearch" %></li>
    </ul>

    <h2 id="contact">Контактирај не</h2>
    <p>Ако вашето прашање не е одговорено тука или сакате да не известите за нешто,
<a href="/help/contact">контактирајте не</a>.
    </p>
</div>



