<% @title = "Информации за имателите" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

<h1 id="officers"><%= @title %> <a href="#officers">#</a> </h1>

<dl>

<dt id="top">Дојдов на страницава преку линк во барање за слободен пристап до информации. Што се случува? <a href="#top">#</a> </dt>

<dd><p><%= site_name %> е сајт раководен од граѓанска организација. Неговата цел е да им помогне на граѓаните да испраќаат јавни барања за слободен пристап до информации и да го олесни процесот на следење и споделување на одговорите.</p>

<p>Барањето за слободен пристап кое го добивте беше испратено преку <%= site_name %>. Можете да одговорите (reply) на пораката која ја добивте по е-пошта  и со тоа одговорот ќе биде автоматски објавен на интернет.
</p>

</dd>

<dt id="responses">Зошто ги објавувате одговорите од барањата за слободен пристап? <a href="#responses">#</a> </dt>

<dd>Ние мислиме дека ваквиот пристап нуди многу предности. Како најзначајно е тоа што очекуваме јавноста да биде позаинтересирана и вклучена во работата на институциите.  Со овој сервис се надеваме дека ќе го намалиме бројот на дупликати барања кои ги добиваат имателите. Бидејќи законот дозволува секој да побара информација од имателите, сметаме дека нема причина поради која не би требало да ги објавуваме јавно барањата и одговорите. 
</dd>

<dt id="realpeople">Дали луѓето кои поднесуваат барања вистински? <a href="#realpeople">#</a> </dt>

<dd>Да. Со цел да ги следиме одговорите, ние користиме компјутерски генерирана адреса за е-пошта за секое барање. Меѓутоа, пред било кој да испрати барање тие мора да се регистрираат на сајтот со уникатна адреса за е-пошта, која потоа ја верифицираме. Преку овој сајт може да ги погледнете сите барања кои некој корисник ги поднел. 
</dd>

<dt id="vexatious">Зарем не правите многу несоодветни барања? <a href="#vexatious">#</a> </dt>

<dd><p><%= site_name %> не креира барања. Ние само испраќаме барања за нашите корисници, кои се вистински луѓе.  Дополнително, бидејќи сите барања се јавни, веднаш може да увидите кој и дали некој корисник испраќа несоодветни барања. </p>
</dd>

<dt id="spam_problems">Можам да видам барање на <%= site_name %>, ни никогаш го немам добиено по е-пошта!<a href="#spam_problems">#</a> </dt>

<dd><p>Ако некое барање е објавено на сајтот, тогаш ние се имаме обидено да го испратиме до имателот. Секој неуспешен обид за испраќање на порака автоматски се објавува на сајтот. Може да ја видите адресата за е-пошта која ја користиме за вас на линкот. Со кликнување на линкот „Видете ја адресата за е-пошта за слободен пристап до информации од јавен карактер“ може да видите која адреса ја користиме за испраќање на барања до имател. <a
href="/help/contact">Контактирајте не</a> ако имате посоодветна адреса за е-пошта.</p>
<p>Барањата понекогаш не се доставени поради спам филтрите на вашата е-пошта.
 Известете го вашиот ИТ администратор да ги додаде сите пораки од
<strong>@<%= AlaveteliConfiguration::incoming_email_domain %></strong> во "whitelist".
</p>
<p>Дополнително, може да одговорите на било кое барање директно од вашиот прелистувач, користејќи го линкот „Одговори на барање“ на дното од секоја страница.
</dd>
<dt id="large_file">Како да испратам големи документи по е-пошта?<a href="#large_file">#</a> </dt>

<dd>Наместо по е-пошта, може да одговорите на барањето директно од прелистувачот, каде имате можност да поставите големи документи.
 <a href="/help/contact">Контактирајте не</a> ако и во овој случај документите се многу големи (на пример поголеми од 50Mb).
</dd>

<dt id="names">Зошто ги објавувате имињата на службениците и текстот од пораките? <a href="#names">#</a> </dt>

<dd>Службениците имаат обврска да бидат јавни информатори. Ние ќе избришеме содржина само во одредени ситуации. За подетални информации <a href="/help/privacy#takedown">видете ја нашата политика за приватност</a>.
</dd>

<dt id="mobiles">Дали објавувате адреси за е-пошта или телефонски броеви? <a href="#mobiles">#</a> </dt>

<dd><p>Со цел да спречиме спам, автоматски ги бришеме повеќето адреси за е-пошта и телефонски броеви.
  Ве молиме <a href="/help/contact">контактирајте не</a> ако сме испуштиле некој.
</p>
</dd>


</dl>


</dl>


<div id="hash_link_padding"></div>


</div>
