<% @title = "Политика за приватност" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
<h1 id="privacy"><%= @title %> <a href="#privacy">#</a> </h1>

<dl>

<dt id="email_address">Кој може да ја види мојата адреса за е-пошта? <a href="#email_address">#</a> </dt>

<dd><p>Ние нема да ја прикажеме вашата адреса за е-пошта на никого, освен ако сме обврзани со закон или вие го побарате тоа од нас. Ова важи и за имателите до кои исраќате барања. Тие ја гледаат само адресата
@<%= AlaveteliConfiguration::incoming_email_domain %> која е специфична за конкретно барање.  </p>
<p>Доколку испратите порака до друг корисник на сајтот, тогаш вашата адреса ќе биде прикажана. Ќе бидете известени за оваа ситуација.</p>
</dd>

<dt id="nasty_spam">Дали ќе ми испраќате спам пораки? <a href="#nasty_spam">#</a> </dt>
<dd>Не. Откако ќе се регистрирате на <%= site_name %>, сервисот ќе ви испраќа само пораки поврзани со барањата, известувањата за кои сте се пријавиле или одобриле. Ние никогаш нема да дадеме или продадеме вашата адреса на е-пошта, освен ако законот не го побара тоа од нас.

</dd>

<dt id="public_request">Дали моето име и барање ќе се појават јавно на сајтот? <a href="#public_request">#</a> </dt>

<dd>
<p>Ние ќе го објавиме вашетто барање на интернет, за секој да може да го прочита и да ја користи информацијата која вие ја имате добиено. Вообичаено не бришеме барања
 (<a href="#delete_requests">детали</a>).
</p>
<p>
Вашето име е поврзано со вашето барање и поради тоа мора да биде објавено. Ние тоа го сметаме за фер, бидејќи ќе биде објавено и името на службеникот кој ќе го одговори вашето барање. 
</p>
<p>Според законот, вие мора да го користите вашето вистинско име за барањата да бидат валидни. 
</p>
</dd>

<dt id="delete_requests">Дали може да ги избришам моите барања или да го изменам моето име?  <a href="#delete_requests">#</a> </dt>

<dd>

<p><%= site_name %> преставува архива на јавни барања за слободен пристап до информации од јавен карактер. Иако можеби некој одговор е некорисен за вас, можеби за некој друг тоа бе би било случајот. Поради овие причини, ние не бришеме барања.
</p>

<p>Доколку постојат некои специфични ситуации, тогаш ние може да го тргнеме вашето име од страницата, <a href="#takedown">видете го следното прашање</a>.
Слично на ова, отстрануваме и лични податоци.
</p>

</dd>

<dt id="takedown">Дали може да избришете лични податоци за мене? <a href="#takedown">#</a> </dt>

<dd>

<p>Доколку најдете некој свој личен податок на овој сајт, ве молиме да не 
<a href="/help/contact">известите</a>.
Во пораката вклучете ја точната информација која е проблематична и објаснување зошто, како и линк до местото каде ја пронајдовте. 
</p>

<p>Ако е сензитивен личен податок, кој е објавен по грешка, тогаш ќе го избришеме. Вообичаено, вакви барања сметаме за легитимни од личноста чии лични податоци се прикажани на сајтов, но ги повикуваме сите да ни посочуваат доколку наидат на ситуација каде се прикажани лични податоци. 
</p>


</dd>


</dl>


<div id="hash_link_padding"></div>


</div>

