<% @title = "Поднесување на барање" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

<h1 id="making_requests"><%= @title %> <a href="#making_requests">#</a> </h1>
<dl>

<dt id="which_authority">Не сум сигурен до кој имател да го испратам моето барање. Како да го најдам вистинскиот? <a href="#which_authority">#</a> </dt>

<dd>
<p>Идентификувањето на вистинскиот имател во структурата на јавни и државни иматели може да биде комплицирано. Следуваат неколку совети кои може да ви помогнат:
<ul>
<li>Прегледајте ги или пребарајте го <%= site_name %> за слични барања како вашето.</li>
<li>Откако ќе го најдете имателот, кој мислите дека ја има информацијата, користете го линкот „Почетна страница“ во десниот дел од страницата на имателот, со цел да проверите да не ја има информацијата на нивниот веб-сајт.</li>
<li>Контактирајте го имателот по телефон или е-пошта да ги прашање дали тие ги имаат информациите кои ги барате.</li>
<li>Не се вознемирувајте премногу за дали ќе го погодите имателот. Доколку го згрешите, тие имаат обврска да го препратат барањето до вистинскиот имател или да ве советуваат за каде да го препратите.
</li>
<li>Ако имате специфичен случај, Ве молиме <a href="/help/contact">контактирајте не</a> за помош.</li>
</ul>

</dd>



<dt id="missing_body">Во листата на иматели ви недостасува оној до кој сакам да испратам барање! <a href="#missing_body">#</a> </dt>

<dd>
<p>Ве молиме <a href="<%= new_change_request_path %>">контактирајте не</a> и испратете ни го името на имателот и ако можете нивната адреса за е-пошта за слободен пристап до информации.
</p>

</dd>

<dt id="focused">Зошто моето барање мора да биде фокусирано?<a href="#focused">#</a> </dt>

<dd>

<p>
Најдобро е да го формулирате вашето барање само со информацијата која ја барате, за секој да може лесно да ја идентификува. Ве молиме
<i>не</i> ги вклучувајте следниве работи:
</p>

<ul>
<li>аргументи за вашата цел</li>
<li>изјави кои може да навредат други</li>
</ul>

<p>
Доколку вклучите некои од погоре наведените, ќе мора да го отстраниме барањето со цел да се избегнат потенцијални проблеми. 
</p>

<p>Накратко, фокусираните пораки им ја олеснуваат работата на имателите и им даваат јасна слика за информацијата која ја барате, а на тој начин вие си ги зголемувате шансите да го добиете одговорот побрзо.</p>


</dd>

<dt id="fees">Дали имам трошоци за испраќање на барање?<a href="#fees">#</a> </dt>

<dd>

<p>Увидот во бараната информација е бесплатен.<p/>
<p>Барателот на информација за добиениот препис, фотокопија или електронски запис на информацијата, плаќа надоместок во висина на материјалните трошоци.</p>

<p>Имателот на информација висината на надоместокот ја објавува на соодветен начин (во службен билтен на имателот на информацијата, интернет страна, огласна табла и сл.) и му ја дава на увид на секој барател пред поднесување на барањето. </p>

<p>Ако барањето се однесува на информација од поголем обем, имателот на информацијата може да бара барателот да го даде однапред надоместок за покривање на трошоците за добивање на информацијата. </p>

</dd>



<dt id="quickly_response">Колку брзо ќе добијат одговор? <a href="#quickly_response">#</a> </dt>

<dd>
<p>Во рок од 30 дена надлежната институција е должна да Ви ги даде побараните информации или да го одбие Вашето барање со образложение. 
</p>

<p><%= site_name %> ќе ви испрати порака по е-пошта доколку не го добиете одговорот до интекот на рокот. Тогаш вие ќе може да испратите порака до имателот со потсетување или да ги известите дека го кршат законот за слободен пристап до информации од јавен карактер.</p>

</dd>

<dt id="no_response">Што доколку никогаш не добијам одговор?<a href="#no_response">#</a> </dt>

<dd>
<p>Постојат неколку работи што може да ги направите во случај да немате одговор:</p>
<ul>
    <li>Понекогаш може да се има случено проблем и имателот да го нема добиено барањето. Би можеле да го контактирате имателот по телефон и да прашањете дали го има добиено барањето. 
    </li>
    <li>Доколку го немаат добиено барањето, причината може да се спам филтрите на нивната е-пошта. Посочете го овој линк на имателот во тој случај 
    '<a href="/help/officers#spam_problems">Можам да видам поднесено барање на <%= site_name %>, но ние никогаш го немаме добиено по е-пошта!</a>' 
    
    </li>
    <li>Доколку се уште немате среќа, тогаш може да побарате внатрешна ревизија и да поднесете жалба до Комисијата за слободен пристап до информации од јавен карактер за овој имател.</a>'.
</ul>
</dd>

<dt id="not_satifised">Што ако не сум задоволен со одговорот? <a href="#not_satifised">#</a> </dt>
<dd>Доколку не ја добивте информацијата која ја баравте или не ја добивте на време, тогаш прочитајте ја страницата '<a href="/help/unhappy">Не сум задоволен со одговорот кој го добив?</a>'.
</dd>


<dt id="private_requests">Сакам да поднесам тајно барање! (Барем додека ја објавам мојата приказна) <a href="#private_requests">#</a> </dt>

<dd><p><%= site_name %> Моментално прифаќа само јавни барања. Сите барања што ги примаме се автоматски објавени на оваа страница за секој да може да пристапи до нив.</p>
<p>Контактирајте фо имателот директно доколку сакате да поднесете тајно барање.
</p>
</dd>

<dt id="multiple">Дали може да го испратам истото барање до повеќе иматели? <a href="#multiple">#</a> </dt>

<dd>Системот моментално дозволува испраќање барања само до неколку иматели. Се уште не постои функционалност со која се овозможува испраќање на барање на многу иматели. За да го постигнете тоа ќе мора да го повторите барањето рачно.

</dd>

<dt id="offsite">Испратив барање надвор од „Слободен пристап“, како можам да го поставам во архивата?<a href="#offsite">#</a> </dt>

<dd><%= site_name %> е архива само на барања испратени преку овој сајт и не се обидува да биде архива на сите барања за слободен пристап.  Овој сајт никогаш нема да поддржува поставување на одговори и барања од други, бидејќи не сме во можност да верифицираме дали одговорот е добиен од имателот.
</dd>

<dt id="moderation">Како се модерираат белешките? <a href="#moderation">#</a> </dt>

<dd> 
<p>Белешките на <%= site_name %> имаат за цел да им помогнат на корисниците да ја добијат информацијата што ја бараат или да им посочат места каде може да ја најдат. Ние го задржуваме правото да избришеме било која од нив.
</p>
<p>Политички дискусии не се дозволени.</p>
<dd>

</dl>

<p><strong>Следно</strong>, прочитајте ја нашата <a href="/help/privacy">политика за приватност</a> --&gt;

<div id="hash_link_padding"></div>

</div>
